<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="YourConnectionStringKey"-->
		<add name="StarWarsDB"
				   providerName="System.Data.SqlClient"
				   connectionString="Data Source=90.229.161.68,1433;Initial Catalog=StarWarsProject;Trusted_Connection=Yes;User Id=useradmin;Password=starwars" />
	</connectionStrings>
</configuration>